body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: lightblue;
}

nav {
  background-color: lightgray;
}

main {
  background-color: white;
  font-size: 18px;
}

footer {
  background-color: lightblue;
}

li {
  display: inline-block;
  width: 100px;
}

h1 {
  text-align: center;
  font-family: Georgia, serif;
  color: darkblue;
}

p {
  line-height: 1.6;
}
